[project]
	description = NFS-Ganesha, a NFSv2/NFSv3/NFSv4.x server in User Space
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jim Lieb (lieb)
[access "refs/for/refs/*"]
	read = group user/Jim Lieb (lieb)
	push = group user/Jim Lieb (lieb)
	label-Code-Review = -2..+2 group user/Jim Lieb (lieb)
	label-Verified = -1..+1 group user/Jim Lieb (lieb)
	rebase = group user/Jim Lieb (lieb)
	removeReviewer = group user/Jim Lieb (lieb)
	submit = group user/Jim Lieb (lieb)
[access "refs/heads/*"]
	read = group user/Jim Lieb (lieb)
	create = group user/Jim Lieb (lieb)
	push = +force group user/Jim Lieb (lieb)
	pushMerge = group user/Jim Lieb (lieb)
[access "refs/tags/*"]
	push = +force group user/Jim Lieb (lieb)
	pushTag = group user/Jim Lieb (lieb)
	pushSignedTag = group user/Jim Lieb (lieb)
